:root {
  font-size: 62.5%;
}

body {
  font-family: $font-name !important;
}

.header__content--text {
  color: $primary-button-color;
  font-size: 5rem;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  .header__content--text {
    font-size: 4rem;
  }
}
