$font-name: "Open Sans";
$main-bg: #f5f6f7;
$card-bg: #fff;
$primary-button-bg: #5ebf8e;
$primary-button-color: #fff;
$secondary-button-bg: #fff;
$secondary-button-color: #5ebf8e;
$card-name-color: #5696cd;
$input-fields-color: #ebf0f2;
