.comment {
  background-color: $comment-bg;
  min-height: 100px;
  min-width: 50%;
  margin-bottom: 4rem;
  padding: 2rem;

  p {
    font-size: 1.6rem;
  }

  img {
    width: 60px;
    height: 60px;
    margin: 0 auto 0;
    display: block;
    position: relative;
    top: 45px;
  }
}

.add-comment {
  min-width: 80%;
  text-align: center;
}

.comment-input {
  border: none;
  outline: none;
  display: block;
  min-width: 60%;
  min-height: 200px;
  background-color: $comment-bg;
  margin: 0 auto 1.5rem;
  padding: 1rem;
}
